.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/leetcode/v15/.suo
.vs/leetcode/v15/Browse.VC.db
powerfast.cpp
a.exe
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
